@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.main {
  background: linear-gradient(
    100deg,
    rgba(57, 40, 159, 1) 0%,
    rgba(66, 47, 156, 1) 100%
  );
  padding-inline: 120px;
}

a {
  text-decoration: none;
}

header {
  background: linear-gradient(
    100deg,
    rgba(57, 40, 159, 1) 0%,
    rgba(66, 47, 156, 1) 100%
  );
  font-family: "Poppins";
  padding: 40px 55px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav-list a {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

#logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 29px;
}

#bt-contact-us {
  background-color: #fa9021;
  color: #ffffff;
  padding: 11px 31px;
  border-radius: 6px;
}

.section-more-details {
  display: flex;
}

.ct-more-detail-text {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  gap: 20px;
  max-width: 500px;
  margin-top: 90px;
}

#section-subtitle {
  color: #e87d0e;
  font-weight: bold;
  font-size: 20px;
}

#section-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

#section-paragraph {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

#bt-get-more-details {
  background: linear-gradient(
    100deg,
    rgba(250, 131, 5, 1) 0%,
    rgba(251, 158, 60, 1) 100%
  );
  padding: 14px 30px;
  border-radius: 40px;
  color: #ffffff;
  max-width: 195px;
  box-sizing: border-box;
  font-size: 16;
}

.section-more-details img {
  max-width: 550px;
  height: 710px;
  position: absolute;
  top: 0px;
  right: 18.2%;
}

.section-currently-trending {
  padding-block: 180px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik";
  color: #ffffff;
}

#text-currently-trending {
  font-weight: bold;
  font-size: 31px;
}

#bt-see-all {
  padding: 10px 30px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}

.ct-img-followers {
  display: flex;
  gap: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item img {
  max-width: 100%;
}

.item p {
  color: #ffffff;
  font-family: "Rubik";
  font-size: 22px;
  vertical-align: middle;
  margin-top: 25px;
}

.item span img {
  vertical-align: middle;
  margin-right: 8px;
}
