@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

header {
  font-family: "Poppins";
  padding: 40px 55px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
  position: relative;
}

.nav-list a {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

.nav-list a:hover {
  color: #fa9021;
}

#logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 29px;
}

#ct-contact-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 95px;
}

#bt-contact-us {
  background-color: #fa9021;
  color: #ffffff;
  padding: 11px 31px;
  border-radius: 6px;
}

#bt-contact-us:hover {
  background-color: rgb(255, 255, 255, 0.2);
}
